Repository PB-MEDIA-Strony-Sklepy-Marketing/adwokat-trzebnica-html-bootstrap: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, htmlhint

Update sitemap.xml
  sitemap.xml
Due: none

Update IMPLEMENTATION_REPORT.md
  IMPLEMENTATION_REPORT.md
Due: prettier --write

Update docker-compose.dev.yml
  docker-compose.dev.yml
Due: none

Update vite.config.js
  vite.config.js
Due: eslint --fix, prettier --write

Update analytics.js
  analytics.js
Due: eslint --fix, prettier --write

Update Dockerfile
  Dockerfile
Due: none

Replace and reorganize legal content files
  text/O-mnie-FAQ&Pytania.md
  text/Oferta-Obrona-w-spadkach-karnych.md
  text/Oferta-Prawo-cywilne.md
  text/Oferta-Prawo-spadkowe.md
  text/Oferta.md
  text/Strona-Glowna-1.md
  text/Strona-Glowna-2.md
  text/faq-pytania.md
  text/faq-pytania.txt
  text/kontakt.md
  text/kontakt.txt
  text/o-mnie.md
  text/o-mnie.txt
  text/strona-glowna.md
  text/strona-glowna1.txt
  text/strona-glowna2.txt
  text/uslugi-prawo-cywilne.md
  text/uslugi-prawo-cywilne.txt
  text/uslugi-prawo-kryminalne.md
  text/uslugi-prawo-kryminalne.txt
  text/uslugi-prawo-spadkowe.md
  text/uslugi-prawo-spadkowe.txt
  text/uslugi.md
  text/uslugi.txt
Due: prettier --write

Add
  TECHNICAL-SHEETS.txt
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.{css,scss})) or (any of: *.html)) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,scss}
  htmlhint: any of: *.html
